body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #5B5B5B;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5E5E5E;
}

#wrapper {
    background: #FFFFFF url(../img/img05.jpg) repeat;
}

.container {
    width: 100%;
    height: 60%;
    margin: 0 auto;
    padding: 0px 0px;
}

/* Header */

header {
    overflow: hidden;
}

/* Logo */

#logo {
    margin: 0 auto;
    padding: 0;
    color: #FFFFFF;
    letter-spacing: -2px;
    font-size: 3.8em;
    text-align: center;
    margin-top: 10%;
}

#logo h1 a {
    color: #1F1F1F;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}

/* Menu */

nav {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    padding: 0;
    margin-top: 5%;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 5% 0 0 0;
    list-style: none;
    line-height: normal;
}

nav li {
    flex: 1;
}

nav a {
    display: block;
    line-height: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #1F1F1F;
    border: none;
}

nav a:hover, nav .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #FFFFFF;
}

/* Page */

#page {
    width: 100%;
    margin: 0 auto;
    padding: 10% 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
}

.flexflex {
    flex: 1;
}

/* Content */

#content {
    padding: 0;
}

.post {
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    margin-bottom: 5%;
    border-bottom: 1px solid #E7EBED;
}

.post .title {
    letter-spacing: -1px;
}

.post .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

.post .meta {
    padding-top: 5%;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.post .entry {
    padding-bottom: 10%;
    text-align: justify;
}

.links {
    padding-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
}

.more {
    display: block;
    flex: 1;
    padding: 2%;
    margin-right: 5%;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.comments {
    flex: 1;
    display: block;
    padding: 2%;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.bolded {
    font-weight: bold;
}

/* Sidebar */

#sidebar {
    margin: 0 auto;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    padding-bottom: 20%;
}

#sidebar li li {
    line-height: 40px;
    border-bottom: 1px solid #E7EBED;
    border-left: none;
}

#sidebar li li span {
    display: block;
    padding: 0;
    font-size: 1rem;
    font-style: italic;
}

#sidebar li li a {
    padding-left: 5%;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

#sidebar h2 {
    padding-bottom: 10%;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #222222;
}

#sidebar p {
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    margin: 0 auto;
    font-family: 'Abel', sans-serif;
    display: block;
    background: url(../img/img01.jpg) repeat;
    padding-bottom: 15%;
    padding-top: 15%;
}

footer p {
    margin: 0;
    padding-top: 5%;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #5E5E5E;
}

footer a {
    color: #5E5E5E;
}

#banner {
    margin: 0px auto;
    width: 100%;
    height: 200px;
    object-fit: cover;
    background: url(../img/img03.png) no-repeat left bottom;
}

.list-style1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-style1 a {
    color: #7F7F7F;
}

/*** MEDIA QUERY 600PX ***/
@media (min-width: 600px) {
    nav a {
        font-size: 1.2rem;
    }

    footer {
        padding-bottom: 10%;
        padding-top: 10%;
    }

    #banner {
        height: 250px;
    }
}

/*** MEDIA QUERY 800PX ***/
@media (min-width: 800px) {
    footer {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

/*** MEDIA QUERY 950PX ***/
@media (min-width: 950px) {
    nav a {
        font-size: 1.3rem;
    }

    .title {
        margin-top: 5%;
    }

    footer {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

/*** MEDIA QUERY 1250px ***/
@media (min-width: 1250px) {
    #logo {
        margin-top: 8%;
    }

    #page {
        flex-direction: row-reverse;
        padding-top: 5%;
    }

    #sidebar {
        max-width: 25%;
        margin-left: 5%;
        margin-top: 4%;
    }

    .more {
        max-width: 30%;
    }

    .comments {
        max-width: 30%;
    }
}
